#%RAML 1.0
title: New API
baseUri: http://www.rocket-orders.com/
mediaType:
  - application/json
version: 1
protocols:
  - HTTP

types:
  order: !include types/order.raml

securitySchemes:
  client-id-secret:
    type: Basic Authentication
    describedBy:
      headers:
        client-id:
          type: string
        client-secret:
          type: string

/orders:
  securedBy:
      - client-id-secret
  post:
    displayName: Create new order
    description: Creates new order on venga system
    body:
      application/json:
        type: order
        example: !include examples/create-order-request.raml
    responses:
      200:
        description: Successfully created
        body:
          application/json:
            type: order
            example: !include examples/create-order-response.raml
      400:
        description: Bad request
        body:
          application/json:
            example: !include examples/bad-request-response.raml            
  get:
    displayName: Get orders list
    description: Get a list of orders using the search parameters
    queryParameters:
      created-date-from:
        type: datetime-only
        example: 2015-07-04T21:00:00
      created-date-to:
        type: datetime-only
        example: 2015-07-06T21:00:00
    responses:
      200:
        description: Successfull response
        body:
          application/json:
            type: order[]
            example: !include examples/get-orders-response.raml
  /{order-id}:
    get:
      displayName: Get order
      description: Get order by id
      responses:
        200:
          description: Successfull response
          body:
            application/json:
              type: order
              example: !include examples/create-order-response.raml
    put:
      displayName: Update order details
      description: Update the order details
      responses:
        204:
          description: order updated
